* {
	box-sizing: border-box;
}

.fieldLight {
	width: 90%;
	height: 56px;
	border-radius: 4px;
	margin: 1vw 0vw 1vw 2vw;
	position: relative;
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.fieldLight:hover {
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.fieldLight.active {
	background-color: #ffffff;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.fieldLight.active input {
	padding: 24px 16px 8px 16px;
}

.fieldLight.active input + label {
	top: 4px;
	opacity: 1;
	color: #ff6f91;
}

.fieldLight.locked {
	pointer-events: none;
}

.fieldLight input {
	width: 100%;
	height: 56px;
	position: relative;
	padding: 0px 16px;
	border: none;
	border-radius: 4px;
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	background-color: transparent;
	color: #282828;
	outline: none;
	box-shadow: 0px 4px 20px 0px transparent;
	transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
		0.1s padding ease-in-out;
	-webkit-appearance: none;
}
.fieldLight.active input::-webkit-input-placeholder {
	color: white;
}
.fieldLight.active input::-moz-placeholder {
	color: white;
}
.fieldLight.active input:-ms-input-placeholder {
	color: white;
}
.fieldLight.active input:-moz-placeholder {
	color: white;
}

.fieldLight input::-webkit-input-placeholder {
	color: grey;
}
.fieldLight input::-moz-placeholder {
	color: grey;
}
.fieldLight input:-ms-input-placeholder {
	color: grey;
}
.fieldLight input:-moz-placeholder {
	color: grey;
}

.fieldLight input + label {
	position: absolute;
	top: 24px;
	left: 16px;
	font-size: 12px;
	font-weight: 600;
	line-height: 24px;
	color: #ffffff;
	opacity: 0;
	pointer-events: none;
	transition: 0.1s all ease-in-out;
}

.fieldLight input + label.error {
	color: #ec392f;
}

.fieldLight p.predicted {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #e0e0e0;
	opacity: 1;
	pointer-events: none;
}
