.links {
	color: #ff6f91;
	font-size: 20px;
	border-color: #ff6f91;
	text-decoration: none;
}
.links:hover {
	border-color: #ff6f91;
	text-decoration: none;
	outline: none;
}
.dropdownLinks {
	color: #ff6f91;
}
.linkAccount {
	margin-top: 7px;
	color: #ff6f91;
}
.nav-item {
	padding: 15px;
}

.custom-toggler .navbar-toggler {
	border-color: #ff6f91;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	border-color: #ff6f91;
	outline: none;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,111,145)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler:focus {
	outline: none;
}
